.article-list {
    display: grid;
    grid-template-columns: 50% 50%;

    .article-box {
        margin-bottom: 30px;
        display: inline-block;
        width: auto;
        transition: all 0.25s ease;

        &:hover {
            cursor: pointer;
        }

        .right {
            padding: 15px;
            color: #3c4856;
            margin-top: -20px;

            .titleWrapper{
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: 1rem;
            }

            .title {
              margin-bottom: 0rem;
              margin-top: 0rem;
              font-size: 1rem;
            }

            .avatar {
              position: relative;
              right: 5px;
              top: 5px;
              height: 50px;
              width: 50px;
              border-radius: 25px;
              border-width: 1px;
              border-color: "#ff0000";
              border-style: solid;
            }

            .meta {
                margin-top: -15px;
                margin-bottom: 20px;
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 768px) {
    .article-list {
        grid-template-columns: 100%;
    }
}
